<div class="center hero-unit">
  <h1>Welcome to iVentory</h1>

  <h2>
    smart storage for a simpler live with
    <%= link_to "iVentory", root_path %>
    
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
